.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #000;
  padding-top: 100px;
}

.nav-btn {
  margin-left: 90px !important;
  color: white !important;
  padding: 5px 30px !important;
}

.nav-btn:hover {
  color: yellow !important;
  background-color: green !important;
}

.toolbar {
  justify-content: space-between;
  background-color: #282c34;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container::before {
  content: '';
  background-image: url(./images/waterfall.jpg);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  opacity: 0.9;
}

.title {
  position: relative;
  font-size: 32px;
  color: #fff;
}

.subtext-container {
  background-color: #282c34;
  z-index: 1;
  opacity: 0.6;
}

.subtext {
  color: #fff;
  position: relative;
  font-style: italic;
  font-size: 24px;
}
